* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', sans-serif;
}
@media (max-width: 1340px) {

    .texttecnology h1 {
        font-size: 28px !important;
    }

}
@media (max-width: 1100px) {
    

    /*aboutme*/
    .aboutme {
        display:none !important;
    }
    .aboutmevert{
        display:block !important;
    }

    /*proyects*/
    .proyects{
        display:none !important;
    }
    .proyectsvert {
        display:block !important;
    }

    /*tecnology*/
    .tecnology {
        display: none !important;
    }

    .tecnologyvert {
        display: block !important;
    }
}
@media (min-width: calc(100vw - 200px)) and (max-width: calc(100vw + 200px)) and (min-height:calc(100vw - 200px)) and (max-height: calc(100vw + 200px)) {
    .textheader {
        display: none !important;
    }
    .titulobarra {
        visibility:visible !important;
    }
}
@media (min-width: 1023px) and (min-height:800px) {
    .textheader {
        margin-top: 8vh !important;
    }

    /*aboutme*/
    .textoaboutmevert {
        top: 20vh !important;
    }

    /*proyect*/
    .imgproyectsvert {
        background-position-x: 15% !important;
        background-position-y: 40% !important;
    }
}
@media (min-width: 1023px) and (max-height:800px) {
    .textheader {
       margin-top: 25vh !important;
    }

    /*aboutme*/
    .textoaboutmevert p {
        font-size: calc(10px + 2.5vw) !important;
    }
}
@media (max-width: 950px) {

    /*.imgaboutmevert {
        background-position-y: 50% !important;
        background-position-x: 50% !important;
    }
*/
    .imgproyectsvert {
        background-position-x: 50% !important;
        background-position-y: 80% !important;
    }
}


@media (max-width: 700px) and (min-height: 600px) {
    .textheader {
        margin-top: 5vh !important;
    }
    .textheader p {
        display: block;
        font-size: 80px !important;
    }

    /*aboutme*/
    .imgaboutmevert {
        background-position-y: 25vh !important;
    }

    .textoaboutmevert {
        top: 15vh !important;
    }
}
@media (max-width: 600px) and (min-height: 750px) {
    .textheader {
        margin-top: 10vh !important;
    }
}
@media (max-width: 600px) and (max-height: 750px) {
    .textheader {
        margin-top: 1vh !important;
    }
}
@media (min-width: 700px) and (max-width: 1000px) and (max-height: 1400px) {
    /*header*/
    .textheader {
        margin-top: 2% !important;
    }
    .textheader p {
        font-size: calc(80px + 5vh ) !important;
    }

    /*aboutme*/
    .imgaboutmevert {
        background-position-y: 20vh !important;
    }
    .textoaboutmevert {
        top: 10vh !important;
    }
}
@media (min-width:451px) (max-width: 640px) and (min-height:700px) {

    .imgaboutmevert {
        background-position-y: 40vh !important;
    }
    .textoaboutmevert {
        top: 20vh !important;
    }
}
@media (min-width: 500px) and (max-height: 800px) {

    .textheader p {
        display: block;
        font-size: calc(80px + 1vh ) !important;
    }
}
@media (max-width: 450px) and (min-height: 400px) and (max-height: 700px) {
    /*header*/
    .textheader {
        margin-top: 10vh !important;
        margin-left: 10vw !important;
    }
    .textheader p {
        display: block;
        font-size: 20vw !important;
    }

    /*aboutme*/
    .textoaboutmevert {
        top: 15vh !important;
    }
    .imgaboutmevert {
        background-position-y: 35vh !important;
    }
}
@media (min-width: 380px) and (max-width: 450px) and (min-height: 700px) {

    /*aboutme*/
    .textoaboutmevert {
        top: 20vh !important;
    }

    .imgaboutmevert {
        background-position-y: 40vh !important;
    }
}
@media (max-width: 379px) and (min-height: 700px) {

    /*aboutme*/
    .textoaboutmevert {
        top: 10vh !important;
    }

    .imgaboutmevert {
        background-position-y: 40vh !important;
    }
}

