@inject IJSRuntime JS

<div class="aboutme">
    <div class="imgaboutme"></div>
    <div class="conttext">
        <div class="textaboutme" @onclick="ToggleImage">
            <h1>Acerca de mí</h1>
        </div>
    </div>
    
</div>


@code {
    private bool isImageVisible = false;
    private ElementReference imageRef;

    private async Task ToggleImage()
    {
        isImageVisible = !isImageVisible;
        await JS.InvokeVoidAsync("toggleAboutme", isImageVisible);
    }
}

<script src="site.js"></script>