
.aboutme {
    width: 100%;
    height: 100%;
    display: flex;

    background-color:#FFF;
    overflow: hidden;
}
.imgaboutme {
    width: 0%;
    height: 100%;
    background: left no-repeat fixed url("/assets/mate.jpg");
    background-size: contain;
    transition: width 3s ease;
}
.conttext {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align:center;
    padding:20px;
    justify-content: center;
    background-color: #545454;
    transition: width 3s ease;
}
.textaboutme {
    cursor: pointer;
}

/*vert*/

.conttextvertical {
    display: none;
    width: 100%;
    height: 100%;
    align-items:center;
    justify-content: center;
    background-color: red;
    transition: height 3s ease;
}

.textaboutmevert {
    cursor: pointer;
}