
<div class="contact">
    <div class="grid-container">
        <div class="contlinks">
            link
        </div>
        <div class="contmail">
            form
        </div>
        <div class="textcontact">
            title
        </div>
    </div>
</div>

@code {

}
