.contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #FFF;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'links links links form form form form form text text'; 
    grid-template-rows: 1fr; 
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    width: 100%; 
}

.grid-container > div {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    height: 100%; 
    width: 100%; 
}

.contlinks {
    background-color: #707070;
    grid-area: links;
}

.contmail {
    background-color: #FFF;
    grid-area: form;
}

.titlecontact {
    background-color: #383838;
    color:#FFF;
    grid-area: text;
}


@media only screen and (max-width: 1000px){
    .grid-container {
        display: grid;
        grid-template-areas:
            'text text text text text text text text text text'
            'form form form form form form form form form form'
            'links links links links links links links links links links';
        grid-template-rows: 10% 60% 30%;
        /*grid-template-columns: repeat(10, 1fr);*/
        height: 100%;
        width: 100%;
    }
}