
<div class="contact">

    <div class="listcontact">
        aca los contactos
    </div>

    <div class="textcontact">
        <div class="textocontacto">
            <h1>Contacto</h1>
        </div>
    </div>
    
</div>

@code {

}
