
<div class="myheader">
    <div class="textheader">
        <h1 class="">Morales Javier</h1>
    </div>
    <div class="imgheader"></div>
    <div class="textheadervert">
        <h4 class="">Morales Javier</h4>
    </div>
</div>



@code {

}
