@inject IJSRuntime JS

<div class="tecnology">

    <div class="texttecnology" @onclick="a">
        <div class="imgtecnology"></div>
        <h1>Herramientas que manejo</h1>
    </div>
</div>


@code {
    private bool isImageVisible = false;
    private ElementReference imageRef;

    private async Task a()
    {
        // isImageVisible = !isImageVisible;
        // await JS.InvokeVoidAsync("toggleImage", isImageVisible);
    }
}

<script src="site.js"></script>
