@inject IJSRuntime JS

<div class="tecnology">
    <div class="alltecnology">
        <h1>acá las tecnologías</h1>
    </div>
    <div class="conttexttec">
        <div class="texttecnology" @onclick="toggleTecnology">
            <h1>Herramientas que manejo</h1>
        </div>
    </div>
     <div class="contimagen">
        <div class="imgtecnology"></div> 
    </div> 
    
</div>


@code {
    private bool isTecnoVisible = false;
    private ElementReference imageRef;

    private async Task toggleTecnology()
    {
        isTecnoVisible = !isTecnoVisible;
        await JS.InvokeVoidAsync("toggleTecnology", isTecnoVisible);
    }
}

<script src="site.js"></script>
